

   <section  class="text-center text-lg-start bg-dark text-muted" >
    <br>
    <div style="text-align:center;">
    <h4 style="text-align:center;">ABOUT US</h4>
    <p>
      We believe in providing nothing but the best. <br />For more information
      call us on <b>+91-123456789</b>.
    </p>
    <div class="icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      
      <a class="text-reset fw-bold" routerLink="feedback">Feedback</a>
      </div>
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">Shopify.com</a>
      </div>
    </div>
    
  </section>
